.btn-google{
    width: 200px;
    padding: 20px  0px;
    text-align: center;
    font-size: 22px;

    background: #FF9B9B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    margin-bottom: 25px;
    border: 0px;
}

.btn-facebook{
    width: 200px;
    padding: 20px 0px;
    text-align: center;
    font-size: 22px;

    background: #94BFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    margin-bottom: 25px;
    border: 0px;
}
